$backgroundColour: skyblue;
$buttonColour: darkgreen;

body {
  background-color: $backgroundColour;
}

h1 {
  margin-left: 2%;
}

img {
  border-radius: 20px;
  margin-right: 20px;
  height: 400px;
}

button {
  background-color: $backgroundColour;
  text-align: center;
  border-radius: 5px;
  border: $buttonColour solid 2px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 20px;

  &:hover {
    background-color: $buttonColour;
    color: white;
  }
}

.tvShow {
  width: 600px;
  border: white dashed 2px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  margin: 20px;
}

.shows {
  display: flex;
  flex-flow: row wrap;
}

.hidden {
  display: none;
}

.gif {
  height: 100px
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}